.text-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

.text-size-1 {
  font-size: 16px;
  line-height: 24px;
}

.text-size-2 {
  font-size: 24px;
  line-height: 36px;
}

.text-size-3 {
  font-size: 32px;
  line-height: 48px;
}

.text-size-4 {
  font-size: 40px;
  line-height: 60px;
}

.text-size-5 {
  font-size: 48px;
  line-height: 72px;
}

.text-size-6 {
  font-size: 56px;
  line-height: 84px;
}

.text-size-7 {
  font-size: 64px;
  line-height: 96px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 24px;
  line-height: 45px;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 900px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

.font {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.6em;
}

.border-1-white {
  border: 1px solid #FFFFFF;
}

.border-radius-5 {
  border-radius: 5px;
}

.gap-15 {
  gap: 15px;
}

.gap-24 {
  gap: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-74 {
  padding-bottom: 74px;
}

.fs-11 {
  font-size: 11px;
  line-height: 13px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.pos-ab {
  position: absolute;
  width: 100%;
}

.green {
  background-color: #34c176;
}

.color-white {
  color: white;
}

.color-orange {
  color: #f89202;
}

.color-gray {
  color: #e0e0e0;
}

.color-dark-gray {
  color: #cacaca;
}

.transparent {
  background: transparent;
}

.bg-description {
  background-image: url("../images/banner.png");
  background-position: center;
}
@media screen and (min-width: 900px) {
  .bg-description {
    background-size: cover;
  }
}

.page-description {
  display: flex;
  padding: 200px 0 200px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .page-description {
    padding: 248px 0 200px 0;
  }
}

.page-description-title {
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .page-description-title {
    margin-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 24px;
}
@media screen and (max-width: 900px) {
  .form {
    width: 100%;
  }
}

.form-input {
  display: flex;
}
@media screen and (max-width: 900px) {
  .form-input {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .form-input {
    justify-content: space-between;
    gap: 12px;
  }
}

.input {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 17px 22px 17px 22px;
  height: 50px;
  border: 2px solid #CACACA;
  border-radius: 3px;
}

.input::placeholder {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.btn-description {
  width: 100%;
}

.page-pricing-body .card-item:nth-child(1) {
  background-image: url(../images/subscribe_1.png);
  background-repeat: no-repeat;
}

.page-pricing-body .card-item:nth-child(2) {
  background-image: url(../images/subscribe_2.png);
  background-repeat: no-repeat;
}

.page-pricing-body .card-item:nth-child(3) {
  background-image: url(../images/subscribe_3.png);
  background-repeat: no-repeat;
}

.card-item {
  padding: 20px;
  width: 367px;
}

.page-pricing-body {
  display: flex;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 39px;
}
@media screen and (max-width: 900px) {
  .page-pricing-body {
    flex-direction: column;
    gap: 27px;
  }
}
@media screen and (min-width: 900px) {
  .page-pricing-body {
    justify-content: space-between;
  }
}

.item-price {
  display: flex;
  margin-top: 180px;
}

.item-btn {
  width: 100%;
  margin-top: 24px;
}

.item-footer {
  margin-top: 64px;
  margin-bottom: 46px;
}

.text-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

.text-size-1 {
  font-size: 16px;
  line-height: 24px;
}

.text-size-2 {
  font-size: 24px;
  line-height: 36px;
}

.text-size-3 {
  font-size: 32px;
  line-height: 48px;
}

.text-size-4 {
  font-size: 40px;
  line-height: 60px;
}

.text-size-5 {
  font-size: 48px;
  line-height: 72px;
}

.text-size-6 {
  font-size: 56px;
  line-height: 84px;
}

.text-size-7 {
  font-size: 64px;
  line-height: 96px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 24px;
  line-height: 45px;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 900px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

.font {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.6em;
}

.border-1-white {
  border: 1px solid #FFFFFF;
}

.border-radius-5 {
  border-radius: 5px;
}

.gap-15 {
  gap: 15px;
}

.gap-24 {
  gap: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-74 {
  padding-bottom: 74px;
}

.fs-11 {
  font-size: 11px;
  line-height: 13px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.pos-ab {
  position: absolute;
  width: 100%;
}

.green {
  background-color: #34c176;
}

.color-white {
  color: white;
}

.color-orange {
  color: #f89202;
}

.color-gray {
  color: #e0e0e0;
}

.color-dark-gray {
  color: #cacaca;
}

.transparent {
  background: transparent;
}

.news {
  margin-top: 48px;
  gap: 64px;
}

.news-item {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 900px) {
  .news-item {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .news-item {
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .news-image {
    order: -1;
  }
}

.news-item-body {
  margin-top: 30px;
}

.news-item-footer {
  margin-top: 24px;
  gap: 16px;
}

.news-item-btn {
  margin-top: 48px;
  padding: 17px 30px 17px 30px;
  width: max-content;
  background: transparent;
}

.columns-2 {
  columns: 2;
}

.app {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .app {
    gap: 144px;
  }
}

@media screen and (min-width: 900px) {
  .app-text {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .app-image {
    flex-direction: column;
    order: -1;
  }
}
@media screen and (min-width: 900px) {
  .app-image {
    width: 50%;
  }
}

.mt-64 {
  margin-top: 64px;
}

.px-100 {
  padding: 100px 0 100px 0;
}

.pos-r {
  position: relative;
}

.left-144 {
  left: 144px;
}

.btn-app {
  padding: 17px 40px 17px 40px;
}

.border-radius-32 {
  border-radius: 32px;
}

.red {
  background-color: #95390c;
}

.app {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-color: #08020d;
}

body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul, li {
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  margin: 0;
  border: 0;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.between {
  justify-content: space-between;
}
.flex.align-center {
  align-items: center;
}
.flex.center {
  justify-content: center;
  align-items: center;
}

.btn {
  height: 57px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.title {
  margin-top: 100px;
}

@media (min-width: 1240px) {
  .container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}
/*** Header ***/
.header {
  display: flex;
  font-weight: bold;
  margin-top: 25px;
}
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header-left-side {
  display: flex;
}
@media screen and (max-width: 900px) {
  .header-left-side {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .header-left-side {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.navbar {
  display: flex;
}
@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    margin-top: 17px;
    gap: 3px;
  }
}
@media screen and (min-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}

.header-search-input {
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  border-radius: 50px;
  background-color: #3c3b3d;
}
@media screen and (max-width: 900px) {
  .header-search-input {
    margin-top: 18px;
    width: 100%;
  }
}

.header-search-input::placeholder {
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

/*** Footer ***/
.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}

/*# sourceMappingURL=style.css.map */
