@import 'variables';
@import 'page-description';
@import 'page-pricing';
@import 'page-news';
@import 'page-app';

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@mixin flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
}

body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul, li {
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: 'Roboto';
  margin: 0;
  border: 0;
}

.flex {
  @include flex;
}

.btn {
  height: 57px;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.title {
  margin-top: 100px;
}

@media (min-width: 1240px) {
  .container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}

/*** Header ***/

.header {
  display: flex;

  @media screen and (max-width: $mobile-size){
    flex-direction: column;
  }

  @media screen and (min-width: $mobile-size){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  margin-top: 25px;
}

.header-left-side {
  display: flex;
  @media screen and (max-width: $mobile-size){
    flex-direction: column;
  }
  
  @media screen and (min-width: $mobile-size){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
  }
}

.header-logo {
  margin-right: 16px;
}

.header-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
}

.navbar {
  display: flex;
  @media screen and (max-width: $mobile-size){
    flex-direction: column;
    margin-top: 17px;
    gap: 3px;
  }
  @media screen and (min-width: $mobile-size){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
}

.header-search-input {
  width: 248px;
  height: 25px;

  padding: 5px 0 5px 10px;

  border-radius: 50px;

  background-color: $dark;
  @media screen and (max-width: $mobile-size){
    margin-top: 18px;
  }
}


/*** Footer ***/

.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}