@import 'variables';
@import 'mixins';
@import 'page-description';
@import 'page-pricing';
@import 'page-news';
@import 'page-app';

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@mixin flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
}

body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul, li {
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  margin: 0;
  border: 0;
}

.flex {
  @include flex;
}

.btn {
  height: 57px;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.title {
  margin-top: 100px;
}

@media (min-width: 1240px) {
  .container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}
/*** Footer ***/

.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}

@import 'header';