/*** Header ***/

.header {
    display: flex;
  
    @include media-mobile($mobile-size){
      flex-direction: column;
      margin-top: 32px;
    }
  
    @include media-desktop($mobile-size) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
    }
  
    font-weight: bold;
  }
  
  .header-left-side {
    display: flex;
    @include media-mobile($mobile-size){
      flex-direction: column;
    }
    
    @include media-desktop($mobile-size) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 88px;
    }
  }

  .logo {
    position: relative;
    margin-left: 40px;
  }
  
  .logo::before {
    position: absolute;
      top: -6px;
      left: -40px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      background-image: url('../images/logo.svg');
      background-repeat: no-repeat;
      content: '';
  }
  
  .navbar {
    display: flex;

    @include media-mobile($mobile-size){
      flex-direction: column;
      margin-top: 17px;
      gap: 3px;
    }
    @include media-desktop($mobile-size) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }
  }
  
  .header-search-input {
    width: 248px;
    height: 25px;
  
    padding: 5px 0 5px 10px;
  
    border-radius: 50px;
  
    background-color: $dark;

    @include media-mobile($mobile-size){
      margin-top: 18px;
      width: 100%;
    }
  }
  
  .header-search-input::placeholder {
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }