@for $i from 1 through 3 {
    .page-pricing-body .card-item:nth-child(#{$i}) {
        background-image: url(../images/subscribe_#{$i}.png);
        background-repeat: no-repeat;
    }
}

.card-item {
    padding: 20px;
    width: 367px;
}

.page-pricing-body {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-size){
        flex-direction: column;
        gap: 27px;
    }
    @media screen and (min-width: $mobile-size){    
        justify-content: space-between;
    }
    margin-top: 46px;
    margin-bottom: 39px;
}

.item-title {

}

.item-price {
    display: flex;
    margin-top: 180px;
}

.item-btn {
    width: 100%;
    margin-top: 24px;
}

.item-footer {
    margin-top: 64px;
    margin-bottom: 46px;
}