.bg-description {
    background-image: url('../images/banner.png');
}

.page-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 200px 0 200px 0;
}

.form {
    margin-top: 16px;
}

.form-input {
    display: flex;
    justify-content: space-between;
}

.input {
    box-sizing: border-box;

    padding: 15px;

    width: 273px;
    height: 50px;

    border: 2px solid #CACACA;
    border-radius: 3px;

    background: transparent;
}

.form-btn {
    margin-top: 24px;

    width: 570px;
    height: 57px;

    border-radius: 5px;

    background-color: $green;
}