.columns-2 {
    columns: 2;
}

.mt-64 {
    margin-top: 64px;
}

.pos-r {
    position: relative;
}

.left-144 {
    left: 144px;
}

.btn-app {
    padding: 17px 40px 17px 40px;
}

.border-radius-32 {
    border-radius: 32px;
}

.red {
    background-color: $red;
}