.bg-description {
    background-image: url('../images/banner.png');
}

.page-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 200px 0 200px 0;
}

.form {
    margin-top: 16px;
}

.form-input {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.input {
    box-sizing: border-box;

    flex-grow: 1;

    padding: 15px;

    height: 50px;

    border: 2px solid #CACACA;
    border-radius: 3px;
}