.bg-description {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
}

.page-description {
    display: flex;

    padding: 200px 0 200px 0;

    @media screen and (max-width: $mobile-size){
        padding: 248px 0 200px 0;
    }

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-description-title {
    margin-bottom: 30px;

    @media screen and (max-width: $mobile-size){
        margin-bottom: 16px;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 24px;
    @media screen and (max-width: $mobile-size){
        width: 100%;
    }
}

.form-input {
    display: flex;
    @media screen and (max-width: $mobile-size){
        flex-direction: column;
    }
    @media screen and (min-width: $mobile-size){    
        justify-content: space-between;
        gap: 12px;
    }
}

.input {
    box-sizing: border-box;

    flex-grow: 1;

    padding: 15px;

    height: 50px;

    border: 2px solid #CACACA;
    border-radius: 3px;
}

.input::placeholder {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.btn-description {
    width: 100%;
}