@import './variables';

.news {
    margin-top: 48px;
    gap: 64px;
}

.news-item {
    display: flex;
    gap: 50px;
    @media screen and (max-width: $mobile-size){
        flex-direction: column;
    }
    @media screen and (min-width: $mobile-size){
        justify-content: space-between;
    }
}

.news-item-inner {

}

.news-image {
    @media screen and (max-width: $mobile-size){
        order: -1;
    }
}

.news-item-body {
    margin-top: 30px;
}

.news-item-footer {
    margin-top: 24px;
    gap: 16px;
}

.news-item-btn {
    margin-top: 48px;
    padding: 17px 30px 17px 30px;
    width: max-content;

    background: transparent;
}